<header class="nb reveal-from-top">
    <div class="tcontainern">
        <div class="n_">
            <div class="nk">
                <h1 class="sz"><img src="img/logo.png" alt="Neon" width="130"
                            height="30"></h1>
                            </div>
            <!-- </div><button id="th" class="th" aria-controls="primary-menu" aria-expanded="false"><span
                    class="se">Menu</span> <span class="tp"><span class="td"></span></span></button>
            <nav id="nj" class="nj">
                <div class="nq">
                    <ul class="st h re">
                        <li><a href="/">Home</a></li>
                 
                </div>
            </nav> -->
           
        </div>
    </div>
</header>